.row {
	font-family: 'Roboto Mono',
		monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row h3 {
	margin-top: 6vh;
	margin-bottom: 4vh;
	border-style: solid;
	border-color: black;
	padding: 5px;
	font-size: 28px;
}

.cards {
	display: flex;
	flex-direction: row;
	width: 100vw;
	overflow-x: auto;
	padding-top: 3vh;
	padding-bottom: 4vh;
	padding-left: 2vw;
}

.cards::-webkit-scrollbar {
	display: none;
}

.card {
	font-family: 'Roboto', sans-serif;
	min-width: 20vw;
	border-radius: 10px;
	margin-left: 1vw;
	margin-right: 1vw;
	border-width: 0;
	background-color: rgba(0, 0, 0, 0.822);
	color: #ffffff;
	box-shadow: 7px 7px 14px #666666,
		-7px -7px 14px #ffffff;
	transition: all 0.3s;

}

.card:hover {
	transform: scale(1.05);
}

.card a {
	text-decoration: none;
	color: #ffffff;
}

.card img {
	height: 30vh;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.card h4 {
	font-weight: 600;
	font-size: 16px;
	margin: 4%;
}

.source {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.source h6 {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 4%;
	font-style: italic;
	font-size: 14px;
	opacity: 0.6;
}

.card p {
	font-weight: 500;
	font-size: 16px;
	margin: 4%;
}

@media (max-width: 1300px) {

	.row h3 {
		margin-top: 5vh;
		margin-bottom: 4vh;
		border-style: solid;
		border-color: black;
		padding: 5px;
		font-size: 26px;
	}

	.cards {
		display: flex;
		flex-direction: row;
		width: 100vw;
		overflow-x: auto;
		padding-bottom: 4vh;
		padding-left: 2vw;
		padding-right: 2vw;
		margin-bottom: 4vh;
	}

	.card {
		font-family: 'Roboto', sans-serif;
		min-width: 25vw;
		border-radius: 10px;
		margin-left: 1vw;
		margin-right: 1vw;
		border-width: 0;
		background-color: rgba(0, 0, 0, 0.822);
		color: #ffffff;
		box-shadow: 7px 7px 14px #666666,
			-7px -7px 14px #ffffff;
	}

	.card a {
		text-decoration: none;
		color: #ffffff;
	}

	.card img {
		height: 25vh;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}

	.card h4 {
		font-weight: 600;
		font-size: 15px;
		margin: 4%;
	}

	.source h6 {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
		font-style: italic;
		font-size: 13px;
		opacity: 0.6;
	}

	.card p {
		font-weight: 500;
		font-size: 15px;
		margin: 4%;
	}
}

@media (max-width: 900px) {

	.row h3 {
		margin-top: 4vh;
		margin-bottom: 3vh;
		border-style: solid;
		border-color: black;
		padding: 5px;
		font-size: 24px;
	}

	.cards {
		display: flex;
		flex-direction: row;
		width: 100vw;
		overflow-x: auto;
		padding-bottom: 4vh;
		margin-left: 2vw;
		margin-right: 2vw;
		margin-bottom: 4vh;
	}

	.card {
		font-family: 'Roboto', sans-serif;
		min-width: 30vw;
		border-radius: 10px;
		margin-left: 1.3vw;
		margin-right: 1.3vw;
		border-width: 0;
		background-color: rgba(0, 0, 0, 0.822);
		color: #ffffff;
		box-shadow: 7px 7px 14px #666666,
			-7px -7px 14px #ffffff;
	}

	.card a {
		text-decoration: none;
		color: #ffffff;
	}

	.card img {
		height: 23vh;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}

	.card h4 {
		font-weight: 600;
		font-size: 14px;
		margin: 4%;
	}

	.source h6 {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
		font-style: italic;
		font-size: 12px;
		opacity: 0.6;
	}

	.card p {
		font-weight: 500;
		font-size: 14px;
		margin: 4%;
	}
}

@media (max-width: 700px) {

	.row h3 {
		margin-top: 4vh;
		margin-bottom: 3vh;
		border-style: solid;
		border-color: black;
		padding: 5px;
		font-size: 22px;
	}

	.cards {
		display: flex;
		flex-direction: row;
		width: 100vw;
		overflow-x: auto;
		padding-bottom: 4vh;
		padding-left: 2vw;
		padding-right: 2vw;
		margin-bottom: 4vh;
	}

	.card {
		font-family: 'Roboto', sans-serif;
		min-width: 35vw;
		border-radius: 10px;
		margin-left: 1.5vw;
		margin-right: 1.5vw;
		border-width: 0;
		background-color: rgba(0, 0, 0, 0.822);
		color: #ffffff;
		box-shadow: 7px 7px 14px #666666,
			-7px -7px 14px #ffffff;
	}

	.card a {
		text-decoration: none;
		color: #ffffff;
	}

	.card img {
		height: 23vh;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}

	.card h4 {
		font-weight: 600;
		font-size: 13px;
		margin: 4%;
	}

	.source h6 {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
		font-style: italic;
		font-size: 11px;
		opacity: 0.6;
	}

	.card p {
		font-weight: 500;
		font-size: 13px;
		margin: 4%;
	}
}

@media (max-width: 550px) {

	.row h3 {
		margin-top: 4vh;
		margin-bottom: 3vh;
		border-style: solid;
		border-color: black;
		padding: 5px;
		font-size: 24px;
	}

	.cards {
		display: flex;
		flex-direction: row;
		width: 100vw;
		overflow-x: auto;
		padding-bottom: 4vh;
		margin-left: 3vw;
		margin-right: 3vw;
		/* padding-bottom: 10vh;
		margin-bottom: 10vh; */
	}

	.card {
		font-family: 'Roboto', sans-serif;
		min-width: 80vw;
		border-radius: 10px;
		margin-left: 3vw;
		margin-right: 3vw;
		border-width: 0;
		background-color: rgba(0, 0, 0, 0.822);
		color: #ffffff;
		box-shadow: 7px 7px 14px #666666,
			-7px -7px 14px #ffffff;
	}

	.card a {
		text-decoration: none;
		color: #ffffff;
	}

	.card img {
		height: 25vh;
		width: 100%;
		border-radius: 10px 10px 0 0;
	}

	.card h4 {
		font-weight: 600;
		font-size: 14px;
		margin: 4%;
	}

	.source h6 {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-right: 4%;
		font-style: italic;
		font-size: 12px;
		opacity: 0.6;
	}

	.card p {
		font-weight: 500;
		font-size: 14px;
		margin: 4%;
	}
}